---
import Layout from "@layouts/Layout.astro";
import { getSinglePost } from "src/lib/getPageData";

const { slug } = Astro.params;
const post = await getSinglePost("blogs", slug);

if (!post) {
  throw new Error(`Blog not found for slug: ${slug}`);
}

// grab SEO info
const pageData = post.seo || {};
---

<Layout
  title={pageData?.title || post.title}
  description={pageData?.meta_description}
  ogImage={pageData?.og_image}
  pageUrl={`/blog/${slug}`}
>
  <div class="custom-container py-16">
    <div
      class="prose prose-headings:text-primary !max-w-5xl mx-auto prose-headings:font-semibold prose-a:text-primary pt-8 md:pb-12 pb-6"
    >
      <!-- render blog HTML content from Directus -->
      <div set:html={post.content} />
    </div>
  </div>
</Layout>
