---
import "../../styles/global.css";
import keystaticConfig from "../../../keystatic.config";
import { createReader } from "@keystatic/core/reader";
interface Props {
  title: string;
  description: string;
  image?: any;
}
const reader = createReader(process.cwd(), keystaticConfig);
const general = await reader.singletons.general.read();
const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png+xml" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<!-- Google tag (gtag.js) -->

<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=AW-1056418154"></script>

<script is:inline>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'AW-1056418154');

</script>


<script is:inline>

  gtag('config', 'AW-1056418154/_nnoCKCP7dwDEOrS3vcD', {

    'phone_conversion_number': '(941) 777-7269'

  });

</script>

