---
import ImageMod from "@components/ui/ImageMod.astro";

const { heading, cards, anchorLink } = Astro.props;
---

<section class="relative">
  {
    anchorLink && (
      <a id={anchorLink} class="absolute -top-20" style="visibility: hidden;" />
    )
  }
  <div class="custom-container lg:py-24 py-26">
    <h2
      class="text-4xl text-secondary lg:text-5xl text-center font-semibold mb-12"
    >
      {heading}
    </h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
      {
        cards.map((item) => (
          <div class="border border-black/70 rounded-2xl  p-4">
            <ImageMod
              src={item.image}
              alt={item.storageSize + "image"}
              className="w-full h-[200px] object-contain  rounded-xl mb-6"
            />
            {item.storageSize && (
              <h2 class="text-4xl font-bold mb-2 text-secondary">
                {item.storageSize}
              </h2>
            )}
            {item.title && <h3 class="text-xl mb-4">{item.title}</h3>}

            <p>{item.description}</p>
            {item.dimensions && (
              <div class="flex justify-start items-center mt-4 gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path d="M237.66,133.66l-32,32a8,8,0,0,1-11.32-11.32L212.69,136H43.31l18.35,18.34a8,8,0,0,1-11.32,11.32l-32-32a8,8,0,0,1,0-11.32l32-32a8,8,0,0,1,11.32,11.32L43.31,120H212.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,237.66,133.66Z" />
                </svg>
                {item.dimensions}
              </div>
            )}

            {item.fits && (
              <div class="flex justify-start items-center mt-4 gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path d="M255.42,117l-14-35A15.93,15.93,0,0,0,226.58,72H192V64a8,8,0,0,0-8-8H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H49a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,255.42,117ZM192,88h34.58l9.6,24H192ZM32,72H176v64H32ZM80,208a16,16,0,1,1,16-16A16,16,0,0,1,80,208Zm81-24H111a32,32,0,0,0-62,0H32V152H176v12.31A32.11,32.11,0,0,0,161,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,192,208Zm48-24H223a32.06,32.06,0,0,0-31-24V128h48Z" />
                </svg>
                {item.fits}
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
