---
import { getAssetURL } from "@utils/getImage";

const { item } = Astro.props;
const { title, cards } = item;
---

<section class="relative">
  <div class="custom-container lg:py-24 py-26">
    <h2
      class="text-4xl text-secondary lg:text-5xl text-center font-semibold mb-12"
    >
      {title}
    </h2>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
      {
        cards.map((item) => (
          <div class="border border-black/70 rounded-2xl  p-4">
            <img
              src={getAssetURL(item.container_card_id.image)}
              alt={item.container_card_id.storageSize + "image"}
              class="w-full h-[200px] object-contain  rounded-xl mb-6"
            />
            {item.container_card_id.length && (
              <h2 class="text-4xl font-bold mb-2 text-secondary">
                {item.container_card_id.length}
              </h2>
            )}
            {item.size && (
              <h3 class="text-xl mb-4">{item.container_card_id.size}</h3>
            )}

            <p>{item.container_card_id.description}</p>
            {item.container_card_id.dimensions && (
              <div class="flex justify-start items-center mt-4 gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="currentColor"
                  viewBox="0 0 256 256"
                >
                  <path d="M237.66,133.66l-32,32a8,8,0,0,1-11.32-11.32L212.69,136H43.31l18.35,18.34a8,8,0,0,1-11.32,11.32l-32-32a8,8,0,0,1,0-11.32l32-32a8,8,0,0,1,11.32,11.32L43.31,120H212.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,237.66,133.66Z" />
                </svg>
                {item.container_card_id.dimensions}
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>
