---
import QuoteForm from "@components/forms/QuoteForm.svelte";
import Image from "astro/components/Image.astro";
import { getEntry } from "astro:content";
const { Sliderimages, quoteFormTitle } = Astro.props;
const general = await getEntry("singletons", "general");
---

<div class="md:h-[700px] h-full relative">
  <div class="w-full bg-white rounded-lg md:hidden block p-4 md:p-8">
    <QuoteForm client:load quoteFormTitle={quoteFormTitle} />
  </div>
  <div class="swiper main-slider h-full">
    <div class="swiper-wrapper">
      {
        Sliderimages.map((slide: any) => (
          <div class="swiper-slide">
            <div class="slide-content bg-cover bg-center h-full relative">
              <Image
                src={slide.image}
                alt={slide.title}
                width={1920}
                height={1080}
                class="absolute inset-0 w-full h-full object-cover"
              />
              <div
                class="absolute inset-0"
                style={`background: var(--gradient-direction)`}
              />
              <div class="custom-container mx-auto h-full flex items-end px-4 md:px-8 relative">
                <div class="text-white md:w-1/2 py-12">
                  <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 fade-up">
                    {slide.title}
                  </h1>
                  <p class="text-lg md:text-xl font-medium fade-up">
                    {slide.description}
                  </p>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <!-- Mobile Quote Form -->
  <div
    class="md:absolute md:flex hidden top-0 right-0 h-full w-full md:w-1/2 items-center justify-center z-10"
  >
    <div class="w-full bg-white rounded-lg lg:max-w-[450px] p-4 md:p-8">
      <QuoteForm
        client:only="svelte"
        quoteFormTitle={quoteFormTitle}
        phoneNumber={general.data.contactInformation.phoneDisplay}
      />
    </div>
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, EffectFade } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/effect-fade";

  new Swiper(".main-slider", {
    modules: [Autoplay, EffectFade],
    loop: true,
    effect: "fade",
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
  });
</script>

<style>
  :root {
    --gradient-direction: linear-gradient(
      to bottom,
      rgba(239, 214, 72, 0.7),
      rgba(41, 147, 188, 0)
    );
  }

  @media (min-width: 768px) {
    :root {
      --gradient-direction: linear-gradient(
        to top,
        rgba(239, 214, 72, 0.7),
        rgba(41, 147, 188, 0),
        rgba(41, 147, 188, 0)
      );
    }
  }
  .slide-content {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }

  .fade-up {
    animation: fadeUp 0.5s ease-out forwards;
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
